#acknowledgements {
  color: black;
  margin-top: 22rem;
  text-align: right;
}

/* on small screens, Acknowledgements will take up its own col */
@media screen and (max-width: 992px) {
  #acknowledgements {
    margin-top: 2rem;
    text-align: center;
  }
}

#thanks {
  font-style: italic;
}
