#chatbox {
  background-color: white;
  color: black;
  margin: 4rem 0;
  min-height: 80vh;
  min-width: 400px;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 992px) {
  #chatbox {
    margin: 2rem 0;
    min-height: 65vh;
  }
}
