header {
  padding-top: 4rem;
  text-align: left;
}

/* on small screens, Header will take up its own col */
@media screen and (max-width: 992px) {
  header {
    color: black;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
  }
}

h2 {
  font-style: italic;
}
